{% include 'incl/header.twig' %}
<body>
	{% include 'incl/nav.twig' %}
	<div class="main-technologies" role="main">
		<div class="grid-container">
			<div class='box3'>
				{{ content }}
			</div>
			<a href="assets/img/nazca/1.jpg" class="box1">
				<picture>
					<source media="(min-width: 668px)" srcset="{{ base_url }}/image/nazca/1.jpg?w=1000">
					<source media="(min-width: 376px)" srcset="{{ base_url }}/image/nazca/1.jpg?w=667">
					<img class="flash-img" src="{{ base_url }}/image/nazca/1.jpg?w=667&save-as=jpg" alt = "Nazca lines in Peru">
				</picture>
			</a>
			<a href="assets/img/nazca/2.jpg" class="box1">
				<picture>
					<source media="(min-width: 668px)" srcset="{{ base_url }}/image/nazca/2.jpg?w=1000">
					<source media="(min-width: 376px)" srcset="{{ base_url }}/image/nazca/2.jpg?w=667">
					<img class="flash-img" src="{{ base_url }}/image/nazca/2.jpg?w=667&save-as=jpg" alt = "Nazca lines in Peru">
				</picture>
			</a>
			<a href="assets/img/nazca/3.jpg" class="box1">
				<picture>
					<source media="(min-width: 668px)" srcset="{{ base_url }}/image/nazca/3.jpg?w=1000">
					<source media="(min-width: 376px)" srcset="{{ base_url }}/image/nazca/3.jpg?w=667">
					<img class="flash-img" src="{{ base_url }}/image/nazca/3.jpg?w=667&save-as=jpg" alt = "Nazca lines in Peru">
				</picture>
			</a>
			<a href="assets/img/nazca/4.jpg" class="box1">
				<picture>
					<source media="(min-width: 668px)" srcset="{{ base_url }}/image/nazca/4.jpg?w=1000">
					<source media="(min-width: 376px)" srcset="{{ base_url }}/image/nazca/4.jpg?w=667">
					<img class="flash-img" src="{{ base_url }}/image/nazca/4.jpg?w=667&save-as=jpg" alt = "Nazca lines in Peru">
				</picture>
			</a>
			<a href="assets/img/nazca/5.jpg" class="box1">
				<picture>
					<source media="(min-width: 668px)" srcset="{{ base_url }}/image/nazca/5.jpg?w=1000">
					<source media="(min-width: 376px)" srcset="{{ base_url }}/image/nazca/5.jpg?w=667">
					<img class="flash-img" src="{{ base_url }}/image/nazca/5.jpg?w=667&save-as=jpg" alt = "Nazca lines in Peru">
				</picture>
			</a>
			<a href="assets/img/nazca/6.jpg" class="box1">
				<picture>
					<source media="(min-width: 668px)" srcset="{{ base_url }}/image/nazca/6.jpg?w=1000">
					<source media="(min-width: 376px)" srcset="{{ base_url }}/image/nazca/6.jpg?w=667">
					<img class="flash-img" src="{{ base_url }}/image/nazca/6.jpg?w=667&save-as=jpg" alt = "Nazca lines in Peru">
				</picture>
			</a>
			<a href="assets/img/nazca/7.jpg" class="box1">
				<picture>
					<source media="(min-width: 668px)" srcset="{{ base_url }}/image/nazca/7.jpg?w=1000">
					<source media="(min-width: 376px)" srcset="{{ base_url }}/image/nazca/7.jpg?w=667">
					<img class="flash-img" src="{{ base_url }}/image/nazca/7.jpg?w=667&save-as=jpg" alt = "Nazca lines in Peru">
				</picture>
			</a>
			<a href="assets/img/nazca/8.jpg" class="box1">
				<picture>
					<source media="(min-width: 668px)" srcset="{{ base_url }}/image/nazca/8.jpg?w=1000">
					<source media="(min-width: 376px)" srcset="{{ base_url }}/image/nazca/8.jpg?w=667">
					<img class="flash-img" src="{{ base_url }}/image/nazca/8.jpg?w=667&save-as=jpg" alt = "Nazca lines in Peru">
				</picture>
			</a>
			<a href="assets/img/nazca/9.jpg" class="box1">
				<picture>
					<source media="(min-width: 668px)" srcset="{{ base_url }}/image/nazca/9.jpg?w=1000">
					<source media="(min-width: 376px)" srcset="{{ base_url }}/image/nazca/9.jpg?w=667">
					<img class="flash-img" src="{{ base_url }}/image/nazca/9.jpg?w=667&save-as=jpg" alt = "Nazca lines in Peru">
				</picture>
			</a>
		</div>
		<div class="box3">
			<div class="embed-container">
				<iframe src="https://upload.wikimedia.org/wikipedia/commons/2/2c/Perou_geoglyphes_de_Nazca_video.ogv" frameborder="0" title = "Video of Nazca lines from plane" allowfullscreen></iframe>
			</div>
		</div>
	</div>
	{% include 'incl/footer.twig' %}
</body></html>
